body {
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  text-align: center;
  color: #1D1D1F;
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
} */
  
p {
  color: #636161;
  line-height: 2.5rem;
}

hr{
  border-color: #EAF6F6;
  border-width: 10px;
  border-style: dotted none none none;
  width: 10%;
  margin: 80px auto;
}

.h1-left{
  text-align: left;
}
.p-left{
  text-align: left;
  font-size: 1.5rem;
}
.p-mid{ 
  font-size: 1.5rem;
  color: white;
}
/* Headings */

.big-heading {
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Background & Sponsor */ 
.sponsor-img, .logo-img{
  width:25%;
  float: left; 
  padding-right: 30px;
  padding-bottom: 30px; 
}

.logo-img{
  width:35%;
  float: right;
  padding-left: 70px;
  padding-bottom: 30px; 
}
.person-row, .logo-row{ 
  margin: 10px 0;
  text-align: left;
}

/* Team Awesominds */ 
.student-img-left{
  width:22%;
  float: left;
  padding-right: 30px;
  padding-bottom: 30px; 
}
.student-img-right{
  width:22%;
  float: right;
  padding-left: 30px;
  padding-bottom: 30px; 
}
/* Containers */

.container-fluid{
  padding: 5% 15% 13%;
}
.container-fluid-small{
  padding: 3% 15% 3%;
}
.container-fluid-xsmall{
  padding: 1% 15% 1%;
}
/* Sections */

.colored-section {
  background-color: #64C7E6;
  color: #fff;
}

.white-section {
  background-color: #fff ;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
 
/* Title Section */

#title {
  background-color: #1C9EC6;
  color: #fff;
  text-align: left;
}
 
/* Title Image */

.title-image {
  width: 85%;  
  position: absolute;
  right: 5%; 
  border-radius: 8px;
} 

 .explorer-image {
  width: 85%;    
  border-radius: 8px;
} 

/* Features Section */

/* #features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
} */

/* Testimonial Section */

/* #testimonials {
   */

/* Pricing Section */

/* #pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}
  */
/* Footer Section */

/* .social-icon {
  margin: 20px 10px;
} */

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static; 
  }
  .sponsor-img{
    position: static;
  }
}
